<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
		<string>org.da.auto_logout</string>
	<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/auto_logout.py3</string>
		</array>
	<key>KeepAlive</key>
	<false/>
	<key>StartInterval</key>
	<integer>300</integer>
</dict>
</plist>
